[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = {extras = ["async"], version = "*"}
flask_cors = "*"
psycopg2 = "*"
python-dotenv = "*"
waitress = "*"
orjson = "*"

[dev-packages]
pytest-cov = "*"
pytest-flask = "*"
pytest-pydocstyle = "*"
pytest = ">=3.6.4"
pytest-pep8 = "*"
flake8 = ">=3.7.7"
pytest-flake8 = "*"

[requires]
python_version = "3.10"
